.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
}

.section {
    padding: 80px 0;
}

.footer {
    padding: 20px 0;
}


.carousel-item img {
    object-fit: cover; /* Ajustar la imagen al tamaño del contenedor */
    height: 400px; /* Altura fija para todas las imágenes */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 20px; /* Espaciado interior */
    color: #fff; /* Color del texto */
    border-radius: 10px; /* Borde redondeado */
    position: absolute; /* Posición absoluta para superposición */
    top: 50%; /* Posicionamiento vertical */
    left: 50%; /* Posicionamiento horizontal */
    transform: translate(-50%, -50%); /* Centrar vertical y horizontalmente */
    width: 80%; /* Ancho del 80% del contenedor padre */
    text-align: center; /* Alinear texto al centro */
}

